
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    
}
body{
    font-family: 'Lato', sans-serif;
   
}
.Signup-header{

    text-align:center ;
    padding: 10px;
top: 0px;


}

.outer-box{
    width: 100wh;
    height: 100vh;
    background: linear-gradient(to top left,#46230e,#fec89a,#5f3a21);

}
.inner-box{
    width: 400px;
    margin:2px auto;
    position: relative;
    top: 20%;

    padding: 30px 80px;
    background: linear-gradient(to top left,#614025,#d6a285);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    box-shadow:5px 5px 5px #301303;
    z-index: 2;
    
}
h1{
    font-size: 2.5rem;
    color: #432818;
}
a{
color: #1b0f08 ;
cursor: pointer;

}
a:active{
    color: #b1aeab;
}
.Signup-body{
    margin: 20px 0;
}
.Signup-body p {
margin: 10px -3px;
margin-left: -20%;

}
.Signup-body p label{
    display: block;
font-weight:bold ;
font-size: 17px;
}
.Signup-body p input{
width: 110%;
padding: 9px;
background-color: #f5d7c3;
height: 5vh;
border-radius: 5px;
margin: 4px 0;
border:1px solid #432818;
font-size: 1rem
}
.Signup-body p input[type="submit"]{
background-color:#432818;
color: #ccd5ae;
border: none;
cursor: pointer;

}
.Signup-body p input[type="submit"]:hover{
    background-color: #301303;
}
.circle{
   
    border-radius: 200px;
box-shadow: 3px 3px 3px #61290a;
    background: linear-gradient(to right,#e5b595,#68452f,#a37254);
    position: absolute;
}
.c1{
    width:150px;
    height: 150px;
    top: 100px;

    left:40px

}
.c2{
    width:100px;
    height: 100px;
    bottom: 100px;
    left: 200px;
    right:20px

}
/* @media screen and (max-width:1080px ) {
    .inner-box{
       flex-direction: column;
    }
} */
